# # EditorConfig is awesome: http://EditorConfig.org

# # top-most EditorConfig file
# root = true

# # [*]
# charset=utf-8
# end_of_line=crlf
# # TODO: change to LF when we're good to go
# # end_of_line = lf
# #insert_final_newline=false
# indent_style=space
# indent_size=2

# [{*.jhm,*.xslt,*.xul,*.rng,*.xsl,*.xsd,*.ant,*.tld,*.fxml,*.jrxml,*.xml,*.jnlp,*.wsdl}]
# indent_style=space
# indent_size=4

# [{.babelrc,.stylelintrc,.eslintrc,.eslintrc.js,jest.config,*.json,*.jsb3,*.jsb2,*.bowerrc}]
# indent_style=space
# indent_size=2

# [*.svg]
# indent_style=space
# indent_size=4

# [{*.jscs.json,*.jscsrc}]
# indent_style=space
# indent_size=2

# [*.js.map]
# indent_style=space
# indent_size=2

# [{.analysis_options,*.yml,*.yaml}]
# indent_style=space
# indent_size=2

# [tslint.json]
# indent_style=space
# indent_size=2

